# Eat Safe, Love

## Notebook Set Up

In [10]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [3]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [4]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [5]:
# review the collections in our database
print(mongo.list_database_names())

['admin', 'classdb', 'config', 'local', 'travel_db', 'uk_food']

In [12]:
# assign the collection to a variable
est = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [13]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
count = est.count_documents(query)
# Display the first document in the results using pprint
pprint(est.find_one(query))

None

In [14]:
# Convert the result to a Pandas DataFrame
clean_df = pd.DataFrame(est.find(query))
# Display the number of rows in the DataFrame
print(f"There are {len(clean_df)} rows in the data set")
# Display the first 10 rows of the DataFrame
clean_df.head(10)

There are 0 rows in the data set

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [15]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query2 = {'LocalAuthorityName': {'$regex': 'London'}, 
          'RatingValue': {'$gte': '4'}}
# Use count_documents to display the number of documents in the result
count_2 = establishments.count_documents(query2)
print("There are", count_2, "Establishments in London having a RatingValue of greater than or equal to 4")
# Display the first document in the results using pprint
pprint(establishments.find_one(query2))

There are 0 Establishments in London having a RatingValue of greater than or equal to 4
None

In [16]:
# Convert the result to a Pandas DataFrame
df_2 = pd.DataFrame(establishments.find(query2))
# Display the number of rows in the DataFrame
print("There are", df_2.shape[0], "rows in the DataFrame")
# Display the first 10 rows of the DataFrame
df_2.head(10)

There are 0 rows in the DataFrame

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [17]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude = 0.08384

query3 = {'RatingValue': '5',
         'geocode.latitude': {'$lte': (latitude + degree_search), '$gte': (latitude - degree_search)},
        'geocode.longitude': {'$lte': (longitude + degree_search), '$gte': (longitude - degree_search)}}
sort =  [('scores.Hygiene', 1)]

# Print the results
for i in establishments.find(query3).sort(sort).limit(5):
    pprint(i)

In [18]:
# Convert result to Pandas DataFrame
df_3 = pd.DataFrame(establishments.find(query3).sort(sort).limit(5))
df_3

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [19]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene': 0}}
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}}

sort_query = {'$sort': {'count': -1}}
all_queries = [match_query, group_query, sort_query]
results = list(establishments.aggregate(all_queries))
# Print the number of documents in the result
print("There are", len(results), "documents in the results variable")
# Print the first 10 results
pprint(results[0: 10])

There are 0 documents in the results variable
[]

In [20]:
# Convert the result to a Pandas DataFrame
df_4 = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("There are", df_4.shape[0], "rows in our DataFrame")
# Display the first 10 rows of the DataFrame
df_4.head(10)

There are 0 rows in our DataFrame

Empty DataFrame
Columns: []
Index: []